@font-face {
	font-family: poppins-light;
    src: url(../../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
	font-family: poppins-reg;
    src: url(../../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
	font-family: poppins-med;
	src: url(../../fonts/poppins/Poppins-Medium.ttf);
}
